<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:webflow="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                    http://www.springframework.org/schema/webflow-config
					http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd">

	<!-- 流程注册器 隐含一句 flow-registry="flowRegistry" 默认表示引用bean id为 'flowRegistry'的流程注册表 -->
	<webflow:flow-executor id="flowExecutor" />
	<!-- 流程注册表 -->
	<webflow:flow-registry id="flowRegistry" flow-builder-services="flowBuilderServices">
		<webflow:flow-location path="classpath:shopping.xml" id="shopping" />
	</webflow:flow-registry>
	<!-- 配置WebFlow 处理器映射器-->  
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/shopping.flow">flowController</prop>
			</props>
		</property>
	</bean>
	<!--WebFlow 处理器，根据逻辑视图名到流程执行器中找到对应的注册表，进而找到流程配置文件，转到不同的物理视图-->  
    <!--主要工作就是负责将url转化成逻辑视图交给视图解析器解析 → jsp--> 
	<bean name="flowController" class="org.springframework.webflow.mvc.servlet.FlowController">
		<property name="flowExecutor" ref="flowExecutor" />
	</bean>
	<!-- WebFlow 视图工厂构建服务 --> 
	<webflow:flow-builder-services id="flowBuilderServices" view-factory-creator="mvcViewFactoryCreator" />
	 <!-- WebFlow 视图工厂创建器，表示使用视图解析器将流程配置(xml)中的逻辑视图交给视图解析器解析 → jsp -->  
	<bean id="mvcViewFactoryCreator" class="org.springframework.webflow.mvc.builder.MvcViewFactoryCreator">
		<property name="viewResolvers" ref="internalResourceViewResolver" />
	</bean>

</beans> 